
@{
    ViewBag.Title = "Unauthorised";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <div></div>
}
<div class="text-center mt-5 text-danger">
    <h2>Bạn không có quyền truy cập tính năng này!</h2>
</div>